.grid-container {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	gap: 10px 10px;
}

.element-1 {
	background-color: lightblue;
	grid-column: span 1;
	grid-row: span 1;
}

.element-2 {
	background-color: lightblue;
	grid-column: 3/4;
	grid-row: 3/4;
}
